{% extends "base.html" %}

{% block main_content %}
<p>👋 Hi! My Name's Aya. I'm a dead beat physicist, currently working as a Data Scientist. I love programming - specifically wrangling with a complex system using language.
    That is to say, I also love reading. I created this website to document book reviews. I wanted to do this for a few reasons:
    <ul>
        <li>To fight the <a href="https://en.wikipedia.org/wiki/Forgetting_curve">Ebbinghaus Forgetting Curve</a>: I often find myself saying that Cat's Cradle is my favourite book, and that its had this great big influence on me. Unfortunately I read it when I was 19, so I also find myself not being able to say a single thing about it.</li>
        <li>It is probably virtuous to <a href="https://www.sfgate.com/living/article/Learning-how-to-read-again-this-time-slowly-5767447.php">read more slowly</a></li>
        <li>To get some hands-on experience with frontend</li>
    </ul>
    
    The design is heavily infulened by :
</p>
<p>
    <ul>
        <li>Loving the colour blue</li>
        <li> <a href="https://justfuckingusehtml.com/">This philosophy</a></li>
        <li> <a href="https://commons.wikimedia.org/wiki/File:Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg">This Painting</a></li>
   </ul>
</p>
{% endblock %}