{% extends "base.html" %}
{% from "_macros.html" import star_rating, book_item %}

{% block header %}
  <h2>Books</h2>
{% endblock %}

{% block main_content %}

  {% if books_2026 %}
    <h3>2026</h3>
    <ul class="book-list">
      {% for book in books_2026 %}
        {{ book_item(book, has_posts) }}
      {% endfor %}
    </ul>
  {% endif %}

  {% if books_previous %}
    <h3>Previously Read</h3>
    <ul class="book-list">
      {% for book in books_previous %}
        {{ book_item(book, has_posts) }}
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}